<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GilBot</title>
    <link rel="canonical" href="<%= siteUrl %>" />
    <meta name="description" content="<%= description %>" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:url" content="<%= siteUrl %>" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= siteUrl %>/og-image.png" />
    <meta property="og:image:alt" content="<%= title %>" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
